/* Sun */

.sun {
    position: absolute;
    top: 25px;
    left: 50px;
    transform: rotate(-45deg);

    width: 200px;
    height: 200px;
    border: 30px solid #DDD162;
    border-right-color: #FAF4A8;
    border-bottom-color: #FAF4A8;

    background-color: #F3CA76;
    border-radius: 50%;
}
.sun-inner-left {
    transform-origin: 100% center;
    transform: rotate(45deg);

    width: 50%;
    height: 100%;

    background-color: #FDF387;
    border-radius: 100px 0 0 100px;
}