/* Primary stylesheet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}
.env {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    min-width: 1280px;
    min-height: 700px;

    font-size: 0;
    background-color: #E8F3E2;
}
.set {
    position: relative;

    width: 1280px;
    height: 700px;
    
    /* border: 1px solid skyblue; */
    border-bottom: 100px solid transparent;
}

@media (max-height: 800px) {
    .set {
        top: 0;
        transform: translate(0, 0);
    }
}