/* Tree */

.tree {
    position: absolute;
    bottom: 0;
    left: 100px;

    width: 170px;
    height: 225px;
    border: 1px solid #7D8A71;
}
.foliage {
    position: absolute;
    bottom: 50px;
    left: 85px;

    height: 170px;
}
.foliage-1 {
    position: absolute;
    left: -85px;
    
    width: 85px;
    height: 170px;
    background-color: #B5D780;
    border-radius: 170px 0 0 170px;
}
.foliage-2 {
    position: absolute;
    
    width: 85px;
    height: 170px;
    background-color: #AEC58B;
    border-radius: 0 170px 170px 0;
}
.trunk {
    position: absolute;
    bottom: 0;
    left: 80px;
}
.trunk-0 {
    position: absolute;
    bottom: 30px;
    
    width: 10px;
    height: 100px;
    background-color: #7D8A71;
}
.trunk-1 {
    position: absolute;
    bottom: 128px;
    transform-origin: center 100%;
    transform: rotate(-2deg);

    width: 5px;
    border-bottom: 60px solid #7D8A71;
    border-left: 2.5px solid transparent;
    border-right: 2.5px solid transparent;
}
.trunk-2 {
    position: absolute;
    bottom: 119px;
    transform-origin: center 100%;
    transform: rotate(-25deg);

    width: 8px;
    border-bottom: 60px solid #7D8A71;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.trunk-3 {
    position: absolute;
    bottom: 123px;
    transform-origin: center 100%;
    transform: rotate(45deg);

    width: 10px;
    border-bottom: 35px solid #7D8A71;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.trunk-4 {
    position: absolute;
    bottom: 65px;
    transform-origin: center 100%;
    transform: rotate(30deg);

    width: 10px;
    border-bottom: 45px solid #7D8A71;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.trunk-5 {
    position: absolute;
    bottom: 54px;
    transform-origin: center 100%;
    transform: rotate(-30deg);

    width: 10px;
    border-bottom: 35px solid #7D8A71;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.trunk-6 {
    position: absolute;
    bottom: 0;
    left: -9px;
    width: 27px;

    border-bottom: 86px solid #7D8A71;
    border-left: 12px solid transparent;
    border-right: 10px solid transparent;
}